@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,700;1,500&family=Poppins:wght@800&family=Roboto+Slab:wght@500&display=swap');
 
 


 .navbar-item {
    list-style-type: none;
    margin-top: 20px;
    transition: all .25s ease;
    
}

.navbar-item a {
    text-decoration: none;
    color: #f79205;
    font-family: IBM Plex Mono;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 3rem;
    margin-top: -18px;
}

.navbar-item:hover {
    margin-top:15px
}

.activeMenu {
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
    border-image-slice: 1;
    width:100%;
}